.DS_Store
Thumbs.db
Desktop.ini

.vscode/
.idea/
*.code-workspace

*.tmp
*.temp
*.bak
*.swp
*.swo
~$*
*.log

exports/pdf/*
exports/epub/*
exports/markdown/*

!exports/pdf/.gitkeep
!exports/epub/.gitkeep
!exports/markdown/.gitkeep
